.home {
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  position: relative;
}
.home header {
  position: fixed;
  top: 20%;
  font-size: 100px;
  white-space: nowrap;
  animation: title 3s 1 ease-in-out;
}
@keyframes title {
  from {
    opacity: 0;
  }
}
