.item-style() {
    .title {
        width: 80px;
        white-space: nowrap;
        font-size: 60px;
        transition: color 1s ease;
        cursor: pointer;
        &:hover {
            color: rgba(255, 255, 255, .8);
            color: #d2b42c;
        }
    }
    ul {
        width: 800px;
        padding: 50px 50px 0 0;
        overflow: hidden;
        li {
            margin: 0 30px;
            a {
                display: flex;
                overflow: hidden;
                flex-direction: row;
                align-items: center;
                font-size: 40px;
                height: 700px;
                transition: color 1s ease;
                &:hover {
                    color: rgba(255, 255, 255, .5);
                    color: #c09351;
                    color: #d2b42c;
                }
                img {
                    display: block;
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                p {
                    padding-top: 35px;
                    white-space: wrap;
                }
            }
        }
    }
}

@font-face {
    font-family: 'zhuan'; // src:url('./HuaKangHaiBaoTiW12-P-1.ttf');
}

.seal {
    font-family: 'zhuan';
}

.home {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    position: relative;
    header {
        display: flex;
        position: fixed;
        top: 10%;
        right: 10%;
        align-items: center;
        justify-content: space-between;
        font-size: 100px; // font-family: 'lixuke';
        white-space: nowrap;
        animation: title 3s 1 ease-in-out;
        p {
            // font-family: 'zhuan';
            padding-bottom: 30px;
        }
        img {
            width: 180px;
        }
        .logo {
            width: 100px;
            height: 100px;
            background: url('../../img/logo.png') no-repeat center/contain;
        }
    }
    .content {
        margin: 200px 500px 0 0;
        .item-style();
    }
}

@keyframes title {
    from {
        opacity: 0;
    }
}

.fold {
    animation: fold 1.5s 1 ease forwards;
}

.unfold {
    animation: unfold 1.5s 1 ease forwards;
}

@keyframes fold {
    from {
        width: 800px;
        opacity: 1;
    }
    to {
        width: 0;
        opacity: 0;
    }
}

@keyframes unfold {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 800px;
        opacity: 1;
    }
}