.article {
    writing-mode: horizontal-tb;
    font-family: 'PingFangSC-Regular','Roboto', 'Verdana', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei";
    text-align: left;
    width: 80%;
    margin: 50px auto;
    h1 {
        text-align: center;
    }
    .time {
        text-indent: 2em;
    }
    .markdown {
        p {
            line-height: 3;
        }
        pre {
            padding: 10px 5px;
            background-color: #f7f7f7;
            max-width: 100%;
            overflow: auto;
        }
        img{
            max-width: 100%;
        }
    }
}