@font-face {
    font-family: 'lixuke';
    src: url('./lixuke.ttf')
}


body {
    width: 100%;
    height: 100%; 
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    //   sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    font-family: 'lixuke';
    color: #444;
    background: #f9f4dc url('../img/texture.png');
}

* {
    margin: 0;
    padding: 0;
}
a{
  text-decoration: none;
  color:#444;
}
ul,li{
  list-style-type: none;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}