@font-face {
  font-family: 'lixuke';
  src: url('lixuke.ttf');
}
body {
  font-family: 'lixuke';
  color: #fff;
  background: #1a6840;
  writing-mode: vertical-rl;
}
* {
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
